<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
   


    <title>E-Voting</title>
    <style>
        #tablesec{
            height: 729px;
        }
 table{  
    margin: 50px;   
    overflow: auto;
    overflow: auto;

   margin-left: auto;
   margin-right: auto;
            border-collapse: collapse;   
            width: 80%;
            /* margin: 50px;    */
        }  
    th,td{  
        /* border: 2px solid green;    */
        padding: 8px;
        text-align: left;  
        /* border-bottom: 1px solid #ddd;        */
    }  
    tr:nth-child(even){
        background-color: #f2f2f2;
    }
    th{
        background-color: darkgrey;
        color:white;
        font-weight: bolder;
    }
               

			 
	</style>

<!--

Breezed Template

https://templatemo.com/tm-543-breezed

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-breezed2.css">
    <!-- <link rel="stylesheet" href="assets/css/templatemo-breezed.css"> -->


     <!-- <link rel="stylesheet" href="assets/css/owl-carousel.css">  -->

    <!-- <link rel="stylesheet" href="assets/css/lightbox.css">  -->

    </head>
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <%- include('../partials/admin_header'); %>
                </div>
            </div>
        </div>
    </header>
    <div  id="top1">
        <div class="Modern-Slider" >
          <!-- Item -->
          <div class="item" >
            <div class="img-fill">
                <img id="top1" src="assets/images/slide-01.jpg" alt="">
          </div>
        </div>
    </div>
    <section id="subscribe">
        <div > 
            <div    >
                <div >
                    <div >
                        <h2 id="citizen">CITIZENS REPORT </h2>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <div class="">
        <table>
            <tr>
                <th >Sr.No</th>
                <th>Name</th>
                <th>Age</th>
                <th>Voter Id</th>
                <th>date of birth</th>
                <th>action</th>

        </tr>
        <% for(let i=0;i<values.length;i++) { %>
        <tr>
            <td><%=i+1%></td>
            <td><%=values[i].name%></td>
            <td><%=values[i].age%></td>
            <td><%=values[i].username%></td>
            <td><%=values[i].dob%></td>
            <td><form action="/edit-citizen" method="post"><button class="button-49" name="btn" value="<%=values[i].username%>">edit</button></form><form action="/delete-citizen" method="post"><button class="button-24" name="btn" value="<%=values[i].username %>">delete</button></form></td>
        </tr>
        <%}%>
        <!-- <tr>
            <td>2 data</td>
            <td>2 data</td>
            <td>2 data</td>
            <td>2 data</td>
            <td>2 data</td>
            <td><a href="admin-form.html"><button class="button-49">edit</button></a><button class="button-24">delete</button></td>
            
            
        </tr>
        <tr>
            <td>2 data</td>
            <td>2 data</td>
            <td>2 data</td>
            <td>2 data</td>
            <td>2 data</td>
            <td><a href="admin-form.html"><button class="button-49">edit</button></a><button class="button-24">delete</button></td>
            
            
        </tr>
        <tr>
            <td>2 data</td>
            <td>2 data</td>
            <td>2 data</td>
            <td>2 data</td>
            <td>2 data</td>
            <td><a href="admin-form.html"><button class="button-49">edit</button></a><button class="button-24">delete</button></td>
            
            
        </tr> -->
          
                    </table>
                    
                </div>
                    
                    
                <footer style="bottom: 0px;width: 100%;overflow: auto;">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-xs-12">
                                <div class="left-text-content">
                                    <p>Copyright &copy; 2022 E-Voting Co., Ltd. 
                                    
                                     <a rel="nofollow noopener" href="">new</a></p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <div class="right-text-content">
                                        <ul class="social-icons">
                                            <li><p>Follow Us</p></li>
                                            <li><a rel="nofollow" href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a rel="nofollow" href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a rel="nofollow" href=""><i class="fa fa-linkedin"></i></a></li>
                                            <li><a rel="nofollow" href="    "><i class="fa fa-dribbble"></i></a></li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
    

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/slick.js"></script> 
    <script src="assets/js/lightbox.js"></script> 
    <script src="assets/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>